.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38524C;
    padding: 4px;
    min-height: 100vh;
}

.label-login {
    background: #ecf0f1 !important;
}

.form-container {
    background-color: white;
    width: 100%;
    max-width: max-content !important;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px;
}

.header-login {
    margin-bottom: 50px;
    text-align: center;
}

.w-50{
    background-color: #323D42;
}

.ubah-password{
    text-align: right;
}